{% extends "base.html" %}


<div class="table-responsive">
<table class="table">
    <thead> 
       <tr><th scope="col">-</th><th scope="col">Name</th><th scope="col">Description</th></tr>
    </thead>
    <tbody>
    {% for key, item in data %}    
        <tr class="accordion-toggle collapsed" data-toggle="collapse" id="accordion{{ key }}" data-parent="#accordion{{ key }}" href="#collapse{{ key }}">
        <td class="expand-button"></td>
        <td><img src="../matlabicon.gif" alt="" border="">&nbsp;<a href="{{ key }}.html">{{ key }}</a></td>
        <td>{{ item['description'] }}</td></tr>
    {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script>
$("a[id^=show_]").click(function(event) {$("#extra_" + $(this).attr('id').substr(5)).slideToggle("fast"); event.preventDefault();})
</script>
