{% extends "base.html" %}
{% block post_content %}
{% set cards = page|get_children(pages) %}
<div class="container mt-3 pt-3">
{% for card in cards[0].children %}
<div class="card bg-gray my-1">
    <div class="row no-gutters">
        <div class="col-md-{{ '5' if card.image else '7' }}">
        <div class="card-body">
        <a href="{{ card.url }}" class="stretched-link">
        <h5 class="card-title">{{ card.title }}</h5>
        </a>
        {% if card.synopsis %}
            <p class="card-text">{{ card.synopsis }}</p>
        {% endif %}
        </div>
        </div>
        {% if card.image %}
        <div class="col-md-4 ml-auto mr-2">
            <img src="{{ card.image }}" class="card-image" width=220>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>
{% endblock %}

