{% extends "base.html" %}
{% block post_content %}
{% set cards = page|get_children(pages) %}
{% set tabs = {} %}
{% for Card in cards[0].children %}
{% set tab = Card.meta.tab %}
{% if tab not in tabs %}{% do tabs.update({tab: []}) %}{% endif %}
    {% for card in cards[0].children %}
    {% if card.meta.tab == tab and card not in tabs[tab] %}
    {% do tabs[tab].append(card) %}
    {% endif %}
    {% endfor %}
{% endfor %}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ page.meta.tab_title }}
    </button>
<div class="dropdown-menu">
{% for tab in tabs %}
<button class="dropdown-item" id="{{ tab }}-tab"  data-toggle="tab" role="tab" type="button" href="#{{ tab.replace(' ','') }}" aria-controls="{{ tab.replace(' ','') }}">{{ tab }}</button>
<!-- <a class="dropdown-item" id="{{ tab }}-tab"  data-toggle="tab" role="tab" href="#{{ tab.replace(' ','') }}" aria-controls="{{ tab.replace(' ','') }}">{{ tab }}</a> -->
{% endfor %}
</div>
</div>

{% set i = 0 %}
<div class="tab-content" id="myTabContent">
{% for tab in tabs %}
<div class="tab-pane fade" id="{{ tab.replace(' ','') }}" role="tabpanel" aria-labelledby="{{ tab.replace(' ','') }}-tab">
{% for card in tabs[tab] %}
<div class="card">
    <div class="row no-gutters">
        {% if card.image %}
        <div class="col-md-4">
            <img src="{{ card.image }}" class="card-image">
        </div>
        {% endif %}
        <div class="col-md-{{ '5' if card.image else '7' }}">
        <div class="card-body">
        <a href="{{ card.url }}" class="stretched-link">
        <h5 class="card-title">{{ card.title }}</h5>
        </a>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <p class="card-text">{{ card.summary if card.summary else "" }}</p>
        </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% set i = i + 1 %}
{% endfor %}
</div>
{% endblock %}

