elstir/contrib/search/lunr-language/** linguist-vendored
elstir/themes/elstir/js/** linguist-vendored
elstir/themes/elstir/js/base.js linguist-vendored=false
elstir/themes/elstir/css/** linguist-vendored
elstir/themes/elstir/css/base.css linguist-vendored=false
elstir/themes/readthedocs/js/** linguist-vendored
elstir/themes/readthedocs/js/theme.js linguist-vendored=false
elstir/themes/readthedocs/css/** linguist-vendored
elstir/themes/readthedocs/css/theme_extra.css linguist-vendored=false
