graft docs
graft src
graft ci
graft tests

# include .coveragerc
# include .editorconfig

# include AUTHORS.md
# include CHANGELOG.md
# include CONTRIBUTING.md
include LICENSE
include README.md

include tox.ini .travis.yml .appveyor.yml

global-exclude *.py[cod] __pycache__/* *.so *.dylib
