<div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>
    {% macro toc_item(item) %}
        {#- if item.level <= config.theme.navigation_depth #}
            <li class="nav-item {{ 'active' if item.active }}" data-level="{{ item.level }}">
              <a href="{{ item.url }}" class="{{ 'active' if item.active }}">{% if not item.children %}&raquo; {% endif %}{{ item.title }}</a>
              {% if item.level <= config.theme.navigation_depth + 1 %}
              <ul class="nav flex-column">
              {{ '<div class="dropdown-divider"></div>' if item.level == 1 }} 
                {%- for child in item.children %}
                    {% if child.level <= config.theme.navigation_depth %}
                    {{- toc_item(child) }}
                    {% endif %}
                {%- endfor %}
              </ul>
              {% endif %}
            </li>
        {#- endif #}
    {%- endmacro %}
    <div id="toc-collapse" class="navbar-collapse collapse card ">
        <ul class="nav flex-column">
        {% if page and page.meta.custom_toc %}
        {%- for item in page.meta.custom_toc %}
            {%- if item.level <= config.theme.navigation_depth %}
            {{ toc_item(item) }}
            {% endif %}
        {%- endfor %}
        {% elif page.meta.use_heading_toc %}
        {%- for item in page.toc %}
            {{ toc_item(item) }}
        {%- endfor %}
        {% else %}
        {%- for item in page|sidebar(pages) %}
            {{ toc_item(item) }}
        {%- endfor %}
        {% endif %}
        </ul>
    </div>
</div>
