div.col-md-9 h1:first-of-type {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

div.col-md-9>p:first-of-type {
    text-align: center;
}

div.col-md-9 p.admonition-title:first-of-type {
    text-align: left;
}

div.col-md-9 h1:first-of-type .headerlink {
    display: none;
}

code.no-highlight {
    color: black;
}

/* Definition List styles */

dd {
    padding-left: 20px;
}

/* Homepage */

body.homepage div.jumbotron {
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0;
}

body.homepage div.jumbotron div.card {
    margin-bottom: 2rem;
}

body.homepage>div.container>div.row>div.col-md-3 {
    display: none;
}

body.homepage>div.container>div.row>div.col-md-9 {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
}
