{% extends "base.html" %}
{% block post_content %}
{% set cards = page|get_children(pages) %}
{% for card in cards[0].children %}
<hr>
<div class="row mb-5 pb-md-4 align-items-center">
   <div class="col-md-{{ '5' if card.image else '8' }}">
      <h2>{{ card.title }}</h2>
      <p class="lead font-weight-normal">{{ card.summary if card.summary else "" }}</p>
      <p>{{ card.description if card.description else "" }}</p>
      <a class="btn btn-lg btn-outline-primary mb-3" href="{{ card.url }}">Explore</a>
   </div>
   {% if card.image %}
   <div class="col-md-6 pl-md-5">
        <img class="img-fluid mt-3 mx-auto" src="{{ card.image }}" loading="lazy" width="500">
   </div>
   {% endif %}
</div>
{% endfor %}
{% endblock %}

