{% extends "base.html" %}
{% block styles %}
{{ super() }}
<style>
.input-group>.input-group-prepend {
    flex: 0 0 20%;
}
.input-group .input-group-text {
    width: 100%;
}
</style>
{% endblock %}

{% block post_content %}
{% set cards = page|get_children(pages) %}
{% set tabs = {} %}
{% for Card in cards[0].children %}
{% set tab = Card.meta.tab %}
{% if tab not in tabs %}{% do tabs.update({tab: []}) %}{% endif %}
    {% for card in cards[0].children %}{% if card.meta.tab == tab and card not in tabs[tab] %}{% do tabs[tab].append(card) %}{% endif %}{% endfor %}
{% endfor %}

{% set filters = page.meta.template_data.gallery_items.items()|list %}
<hr><details>
<summary>Filters</summary>
<div class="filter">
{% set filters = filters[0][1] %}{% for f in  filters %}
<div class="input-group col-md-5 my-1">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect0{{ loop.index }}">
        <div class="custom-control custom-switch form-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch-{{ loop.index }}"  onchange="document.getElementById('inputGroupSelect0{{ loop.index }}').disabled = !this.checked;" />
            <label class="custom-control-label" for="customSwitch-{{ loop.index }}">
            {{ f }}
            </label>
        </div>
    </label>
  </div>
<select class="custom-select" id="inputGroupSelect0{{ loop.index }}" data-toggle="buttons" role="menu" disabled>
<!-- <option class="btn" value="{% for fi in cards[0].filters[filters[f]] %} {{ fi }}{% endfor %}" id="{{ f }}-Any" type="button" href="#{{ f }}-Any" aria-controls="{{ f.replace(' ','') }}-Any">
    Any
</option> -->
{% for fi in cards[0].filters[filters[f]] %}
<option class="btn" value="{{ fi.replace(' ','-') if fi else '' }}" id="{{ fi }}-fi" type="button" href="#{{ fi.replace(' ','') if fi else '' }}" >
    {{ fi }}
</option>
{% endfor %}
</select>
</div>
{% endfor %}
</div>
</details>


<hr>
{% set i = 0 %}
<div class="gallery" id="gallery">
{% for card in cards[0].children %}
<div class="card shadow-sm my-2 {% for f in card.template_data.values() %} {{ f.replace(' ','-') if f else '' }}{% endfor %} gallery-item" {% if card.template_data %}data-gallery_info='{{ card.template_data|tojson }}'{% endif %}>
    <div class="row no-gutters">
        <div class="col-md-{{ '5' if card.image else '7' }}">
        <div class="card-body">
        <a href="{{ card.url }}" class="stretched-link">
        <h5 class="card-title">{{ card.title }}</h5>
        </a>
        <p class="card-text">
            {%-if card.synopsis-%}
            {{ card.synopsis }}
            {%-elif card.meta.summary-%}
            {{ card.meta.summary }}
            {%-endif-%}
        </p>
        </div>
        </div>
        {% if card.image %}
        <div class="col-md-4 ml-auto mr-2">
            <img src="{{ card.image }}" class="card-image" style="max-width:275px;max-height:220px;width:auto;height:auto;">
        </div>
        {% endif %}
    </div>
</div>
{% set i = i + 1 %}
{% endfor %}
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    let selectedFilters = [];
    //const images = [...document.querySelectorAll('.card')];
    //const images = [ ...document.getElementById("gallery").children];
    //const images = [].slice.call(document.getElementById('gallery').getElementsByTagName('*'),0);
    const images = document.getElementsByClassName("gallery-item");
    const filters = [...document.querySelectorAll('.filter select')];
    const toggles = [...document.querySelectorAll('.filter input')];

    var show = function (elem) {
        elem.style.display = 'block';
    };
    var hide = function (elem) {
        elem.style.display = 'none';
    };
    function toggleFilter(el,elid) {
        document.getElementById('inputGroupSelect0{{ loop.index }}').disabled = !el.checked;
    }
    
    for (const filter of filters) {
    filter.addEventListener('change', function(event) {
        selectedFilters = filters.map(filter => filter.value).filter(Boolean);
        console.log(selectedFilters);
        for (const image of images) {
            //image.classList[selectedFilters.some(filter => image.classList.contains(filter)) 
            //    ? 'add'
            //    : 'remove']('visible');
            //image.classList[selectedFilters.some(filter => image.classList.contains(filter)) 
            //    ? 'remove'
            //    : 'add']('invisible');
            if (selectedFilters.every(filter => image.classList.contains(filter))) {
                show(image);
            }
            else {hide(image)}
        }
    })
    }
    for (const toggle of toggles) {
        toggle.addEventListener('change', function(event) {
            console.log(toggle.closest('.input-group').querySelector("select"));
            toggle.closest(".input-group").querySelector("select")
        })
    }

</script>
{% endblock %}