// Berkeley 4.5.0
// Based on simplex
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ddd !default;
$gray-300: #ccc !default;
$gray-400: #bbb !default;
$gray-500: #adb5bd !default;
$gray-600: #777 !default;
$gray-700: #444 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #9B479F !default;
$pink:    #e83e8c !default;
$red:     #D9230F !default;
$orange:  #D9831F !default;
$yellow:  #FDB515 !default;
$green:   #469408 !default;
$teal:    #20c997 !default;
$cyan:    #029ACF !default;

$b-blue:     #003262;
$b-cyan:     #3b7ea1;
$b-yellow:   #FDB515;
$b-gold:   #C4820E;

$primary:       $b-blue   !default;
$secondary:     $b-gold !default;
$dark-2: $primary;

// $primary:       $black !default;
// $secondary:     hsla(340, 82%, 52%, 1);
// $secondary: #e05858;
// $dark-2: #350000;

$success:       $green !default;
$info:          $b-cyan !default;
$warning:       $purple !default;
$danger:        $orange !default;
// $light:         $gray-500 !default;
$light:         $white !default;
$dark:          $gray-700 !default;

// Body

$body-bg:                   #FCFCFC !default;

// Fonts

// $font-family-sans-serif:      "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-sans-serif:      Roboto, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-size-base:              0.8125rem !default;



// Dropdowns

// $dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-color:         $b-gold !default;
$dropdown-link-hover-bg:            $b-gold !default;

// Navs

$nav-link-padding-y:                .9rem !default;
$nav-link-disabled-color:           $gray-400 !default;

$nav-tabs-border-color:             darken(#fff, 6.5%) !default;

// Navbar

$navbar-dark-color:                 rgba($white,.75) !default;
$navbar-dark-hover-color:           $white !default;

// Pagination

$pagination-border-color:           $nav-tabs-border-color !default;

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $primary !default;
$pagination-hover-border-color:     $primary !default;

$pagination-disabled-color:         $gray-400 !default;
$pagination-disabled-border-color:  $pagination-border-color !default;

// Jumbotron

$jumbotron-bg:                      $nav-tabs-border-color !default;

// Cards

$card-border-color:                 $nav-tabs-border-color !default;

// Popovers

$popover-border-color:              $nav-tabs-border-color !default;

// Modals

$modal-content-border-color:        $nav-tabs-border-color !default;

$modal-header-border-color:         $nav-tabs-border-color !default;

// Progress bars

$progress-bar-color:                $primary !default;

// List group

$list-group-border-color:           $nav-tabs-border-color !default;

$list-group-disabled-bg:            $nav-tabs-border-color !default;

// Breadcrumbs

$breadcrumb-bg:                     $white !default;


//-----------------------------------------------------------------------------
//-----------------------------------------------------------------------------
//-----------------------------------------------------------------------------

$font-size-base:              1.0rem;
$lead-font-size:              $font-size-base * 1.2;
$lead-font-weight:            300;

// Headings
$headings-font-weight:           300;
$headings-color:              #444;


$component-active-color:      $secondary;
// $component-active-bg:         $secondary;

// $navbar-light-color

$navbar-dark-color:         $white;
// $navbar-dark-hover-color:   $white;
$navbar-dark-hover-color:   $secondary;

$dropdown-link-hover-bg:            $gray-100;
$dropdown-link-hover-color:         $secondary;
$dropdown-link-active-bg:           transparent;
$dropdown-link-active-color:        $secondary;
// Customize some defaults
// $body-color: purple;
// $body-bg: #f5f5f5;


//
// Bring in Bootstrap
//

// Option 1: Import all of Bootstrap's CSS
// @import "../../node_modules/bootstrap/scss/bootstrap";

// Option 2: Import just the styles you need. Note that some stylesheets are required no matter what.

@import "../../node_modules/bootstrap/scss/functions"; // Required
@import "../../node_modules/bootstrap/scss/variables"; // Required
@import "../../node_modules/bootstrap/scss/mixins"; // Required
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot"; // Required
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown"; // cmp
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group"; // Requires forms
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";    // cmp
@import "../../node_modules/bootstrap/scss/navbar"; // Requires nav
@import "../../node_modules/bootstrap/scss/card";   // cmp
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal"; // Requires transitions
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";

