name: CI

on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10', pypy-3.7-v7.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - python-version: 3.7
            py: py37
          - python-version: 3.8
            py: py38
          - python-version: 3.9
            py: py39
          - python-version: '3.10'
            py: py310
          - python-version: pypy-3.7-v7.x
            py: pypy3
        # Just to slim down the test matrix:
        exclude:
          - python-version: 3.8
            os: macos-latest
          - python-version: 3.8
            os: windows-latest
          - python-version: 3.9
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade hatch
      - name: Run tests
        run: |
          hatch run +py=${{ matrix.py }} +type= test:with-coverage
      - name: Run integration tests
        run: |
          hatch run +py=${{ matrix.py }} +type= integration:test
        shell: bash
      - name: Upload Codecov Results
        if: success()
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: unittests
          name: ${{ matrix.os }}/${{ matrix.py }}
          fail_ci_if_error: false

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade hatch
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Check with black + isort
        if: always()
        run: hatch run style:check && git diff --exit-code
      - name: Check with flake8
        if: always()
        run: hatch run style:lint
      - name: Check with mypy
        if: always()
        run: hatch run types:check
      - name: Check Markdown style
        if: always()
        run: hatch run lint:markdown
      - name: Check JS style
        if: always()
        run: hatch run lint:js
      - name: Check CSS style
        if: always()
        run: hatch run lint:css
      - name: Check spelling
        if: always()
        run: hatch run lint:spelling

  translation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install Python dependencies
        run: |
          python -m pip install setuptools babel
      - name: Compile localization message files
        run: |
          pybabel compile --statistics --directory mkdocs/themes/mkdocs/locales
          pybabel compile --statistics --directory mkdocs/themes/readthedocs/locales
